node_modules
.env
.envrc
.env.local
dist
.DS_Store
*.log
.vscode
.idea
*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# TypeScript build info
*.tsbuildinfo